<h2>Products</h2>

<div *ngFor="let product of products" class="product-list-item">

  <h3>
    <a
      [routerLink]="['/products', product.id]"
      [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <p>
    <button (click)="share()" type="button">
      Share
    </button>
  </p>

  <app-product-alerts
    (notify)="onNotify()"
    [product]="product">
  </app-product-alerts>

</div>
