* {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainland-theme-color: #442222;
  --mainland-theme-color-bright: #aa7777;
  --mainland-theme-color-brighter: #ddaaaa;
}

/* Global Styles */

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: var(--mainland-theme-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--mainland-theme-color);
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: var(--mainland-theme-color);
}

.fancy-button i.material-icons {
  color: var(--mainland-theme-color);
  padding-right: 4px;
}

/* Top Bar */

app-mainland-top-bar {
  width: 100%;
  height: 68px;
  position: relative;
  top: 0;
  background-color: var(--mainland-theme-color);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-mainland-top-bar h1 {
  color: white;
  margin: 0;
}

/* Bottom Bar */

app-mainland-bottom-bar {
  width: 100%;
  height: 44px;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: var(--mainland-theme-color);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-mainland {
}

app-product-list, app-product-details, app-cart, app-shipping {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  min-width: 200px;
}

.product-list-item {
  padding: 10px 15px 15px 10px;
  margin: 10px;
  background: var(--mainland-theme-color-brighter);
}

.product-list-item h3 {
  margin-top: 10px;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}
